.nav-end {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 20px; */
    align-items: center;
    padding-left: 12.291667%; /* 177px/1440 */
    padding-right: 12.291667%;
    background-color: var(--color-menu);
    height: 282px;
}

.logo-text {
    grid-column: 1;
}
#logo-end{
    margin-bottom: 21px;
}
.social-icons {
    grid-column: 2;
    margin-top: -350px;
}
.item-social-icon{
     margin: 28px;
}

.list {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 25px;
    padding: 0;
    list-style: none;
}

.list li {
    margin-bottom: 20px;
}

footer a{
    color: var(--color-black);
}

 /*---------------------------------- Все для малих екранів --------------736---------------*/
@media only screen and (max-width: 775px) {
 .list{
    display: none;
 }
 .container {
    padding-left: 0;
 }
}
@media only screen and (max-width: 820px) {
 .item-social-icon{
   margin: 5px;
 }
 .container {
   padding-left: 0;
 }
}
@media only screen and (max-width: 1020px) {
 .list{
   display: none;
 }
 .nav-end {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 .social-icons {
   margin-top: 0;
 }
}