* {
    margin: 0;
}

section {
    padding-left: var(--spacing-sides); /* 177px/1440 */  
    padding-right: var(--spacing-sides);
}

#body *{
    background-color: var(--color-beige-100) !important;
    font-size: var(--font-size-content) !important;
    font-family: var(--font-family-primary) !important;
}

#info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 16px;
    gap: 20px;
}

#text p {
    text-align: start;
}

#text #autor {
    margin-bottom: 8px;
}

#image_url {
    justify-content: center;
    border-radius: 16px;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    max-width: 430px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#cards-container {
    display: flex; /* Змінюємо на flex для горизонтального розташування */
    overflow-x: auto; /* Додаємо горизонтальну прокрутку */
    gap: 20px; /* Відстань між картками */
    margin-bottom: 190px;
    scroll-snap-type: x mandatory; /* Додаємо snap для плавної прокрутки */
}

#cards-container a {
    text-decoration: none;
}

.card {
    flex: 0 0 auto; /* Задаємо карткам фіксовану ширину */
    width: min(325px, 80%); /* Ширина картки */
    scroll-snap-align: start; /* Вирівнюємо картки при прокрутці */
}

.card figure {
    margin: 0;
    padding-bottom: 15px;
}

#square {
    aspect-ratio: 1/1;
}

.card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.text-card {
    margin-bottom: 6px;
    margin-top: 18px;
}

/* Зменшуємо ширину смуги прокрутки для WebKit */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-beige-100);
}

/* Зменшуємо ширину смуги прокрутки для Firefox */
.scrollable {
    scrollbar-width: thin;
    scrollbar-color: #888 var(--color-beige-100);
}