* a{
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
    vertical-align: middle;
    padding-left: 12.291667%;
    /* 177px/1440 */
    padding-right: 12.291667%;
    background-color: var(--color-menu);
    height: 282px;
}

.logo-text {
    grid-column: 1;
}

#logo-end {
    margin-bottom: 21px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 54px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 25px;
    padding: 0;
    list-style: none;
}

.footer-list li {
    margin-bottom: 20px;
}

footer a {
    color: var(--color-black);
}

@media only screen and (max-width: 1020px) {
.footer-list {
    display: none;
}

.nav-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

@media only screen and (max-width: 775px) {
.footer-list {
    display: none;

}
.social-icons {
    gap: 15px;
}
}