* a{
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* для великих екранів, щоб футер прилип до кінця сторінки */
}

main {
    flex: 1;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12.291667%;
    padding-right: 12.291667%;
    background-color: var(--color-menu);
    height: 282px;
}

.logo-text {
    grid-column: 1;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    list-style: none;
}

.footer-list li {
    margin-bottom: 20px;
}

.footer-list li:last-child  {
    margin:  0;
  }

footer a {
    color: var(--color-black);
}

@media only screen and (max-width: 1020px) {
.footer-list {
    display: none;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
}
}

@media only screen and (max-width: 579px) {
.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
}